# Code Owners for janta-pharmacy
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owner - applies to all files
* @siddharthjain125